/**** ELEMENTS GLOBAL ****/
*{
    font-family: 'Fredoka One', cursive;
	margin: 0;
	padding: 0;
}

html{
	min-height:100%;
}

.menu{
    color:white;
    text-align: center;
}


body{
	/*background:rgba(221, 227, 244, 1);*/
	background-image:url("../images/bg-military.png");
	background-repeat: no-repeat;
	background-size: cover;
	
}

header{
	background: linear-gradient(rgba(48, 145, 123, 1),rgba(19, 57, 32, 1));
	color:white;
	padding:1em;
}

header h1,h3{
	text-align: right;
	width: 49%;
	display: inline-block;
}

footer{
	width: 100%;
	background: linear-gradient(rgba(48, 145, 123, 1),rgba(19, 57, 32, 1));
	color:white;
	text-align: center;
	margin:2em 0em;
	padding:1em 0em;
}

.contenu{
	width: 80%;
	margin:2% auto;
	background:rgba(19, 32, 57, 1);
	/*height: 100%;*/
	padding: 1%;
	outline: 4px solid  rgba(228, 235, 194, 1);
	display: none;
}

.contenu h3{
	outline: 2px solid rgba(228, 235, 194, 1);
	background: rgba(0,0,0,.3);
	color:rgba(255, 255, 194, 1);
	width: 80%;
	text-align: left;
	margin: 1%;
	padding: 1%;
	overflow: hidden;
  	text-overflow: ellipsis; /* pour le reste du monde */
}

.cadreLogin,.cadreInscription,.cadreForgetMdp,.cadreSuccesMdp{
	width: 50%;
	background:rgba(0,0,0,.5);
	outline:4px solid rgba(163, 224, 218, 0.4);
	margin: 3% auto;
	padding:1em;
}

.cadreLogin:hover,.cadreInscription:hover,.cadreForgetMdp:hover{
	box-shadow: 0px 0px 25px 5px rgba(255,255,255,0.4);
}

.cadreLogin h2,.cadreSuccesMdp h2{
	color: rgba(236, 240, 241,1.0);
	text-decoration: underline;
	text-align: center;
}
.cadreSuccesMdp a{
    outline:2px solid rgba(255,0,0,0.7);
    padding:1%; 
    display:block; 
    width:50%;
    margin:1em auto; 
    text-align:center;
    text-decoration: none;
    color:white;
}

.cadreLogin p:nth-of-type(1) input, .cadreLogin p:nth-of-type(2) input,.cadreLogin p:nth-of-type(3) input{
	font-size: 16px;
	display: block;
	margin:4% auto;
	width:50%;
	padding: 1%;
}
.cadreLogin a,.cadreInscription a{
	color:white;
	margin: 3%;
	width:70%;
	font-size: 18px;
}
.cadreLogin a:nth-of-type(3){
	border-radius: 25px;
	text-align: center;
	background: blue;
	width: 8%;
	position: fixed;
	top:25%;
	right: 22%;
	text-decoration: none;
	padding: 0.5%;
}
.cadreLogin a:nth-of-type(2){
	border-radius: 25px;
	text-align: center;
	background: green;
	width: 8%;
	position: fixed;
	top:31%;
	right: 22%;
	text-decoration: none;
	padding: 0.5%;
}
.cadreLogin a:hover,.cadreInscription a:hover,.cadreSuccesMdp a:hover{
	box-shadow: 0px 0px 25px 0px rgba(255,255,255,0.4); 
	background:rgba(204, 110, 102, 1);
}

.cadreLogin input:focus, .cadreInscription input:focus{
	outline: 5px solid rgba(182, 231, 223, 1);
}

.divInscriptionTxt,.divInscriptionInput{
	width:48%;
	/*background:red;*/
	display: inline-block;
	text-align: right;
	vertical-align: middle;
}

.divInscriptionInput input, .divInscriptionInput select{
	display: block;
	margin:5% ;
	font-size: 18px;
}

.divInscriptionTxt p{
	color:white;
	display: block;
	margin:6% ;
	font-size: 18px;
}
.cadreInscription h3 {
	display:block;
	width: 100%;
	background:white;
	text-align: center;
}

#idInscrire{
	font-size: 18px;
	width:30%;
	display: block;
	margin: 2% auto;
}




.containerForgetMdp{
	/*background: rgba(255,255,255,.8);*/
	color:white;
	text-align: center;
}

.containerForgetMdp p:nth-of-type(1){
	width: 96%;
	margin:auto;
	padding:2%;
	border-bottom: 2px groove red;
	
}

.containerForgetMdp input,.containerForgetMdp p{
	margin:1.1%;
	font-size: 16px;
}

#idSuivant{
	display: block;
	width:30%;
	margin: auto;
	margin-top: 3%;
	font-size: 16px;
	border-radius: 15px;
	padding:0.2%;
	
}
.cadreNotif{
	display: none;
	background:white;
	width:20%;
	margin:auto;
	position:fixed;
	top:30%;
	right:10%;
	animation:animOpaque 2s ease-out forwards,
			animScale 2s ease-out forwards;
}

.cadreNotif p{
	margin: 0.5%;
}

.cadreNotif h2{
	text-decoration: underline;
	text-align: center;
}

.cadreNotif button{
	width:20%;
	padding:2%;
	margin:1%;
}

@keyframes animOpaque{
	0%{opacity: 0;};
	to{opacity: 1;}
}

@keyframes animScale{
	0%{transform:scale(1.2,1.2);};
	to{transform:scale(1,1);}
}

.menu ul li a{
	text-decoration: none;
	outline: 1px solid rgba(125, 191, 64, 1);
	color:white;
	display: block;
	width: 100%;
	margin: 2%;
}

.menu ul li{
	list-style-type: none;
	width: 20%;
	display:inline-block;

}

.menu ul{
	outline: 2px solid rgba(255,255,255,0.6);
	background: linear-gradient(rgba(48, 145, 123, 1),rgba(19, 57, 32, 1));
	height:30px;
	width: 80%;
	display: block;
	margin: auto;

}

.menu ul li a:hover{
	background:rgba(68, 193, 84, 1);
}

.menu ul:hover{
	outline: 2px solid rgba(110, 207, 140, 1);
}

.intro{
	position: relative;
	width:80%;
	height: 600px;
	margin: 1em auto;
	background-image: url("../images/presentation.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	outline: 3px solid rgba(201, 237, 233, 1);
}

.intro .introLegende{
	background:rgba(255,255,255,0.5);
	width: 100%;
	height:0%;
	position: absolute;
	bottom: 0px;
}

.intro .introLegende h1{
	text-align: left;
	border-bottom: 2px solid;
	width: 80%;
	padding:1%;
	margin:1%;
	display: none;
}

.intro .introLegende p{
	display: block;
	width: 80%;
	margin:3% auto;
	padding:1%;
	outline: 4px solid red;
	background:rgba(255,255,255,0.9);
	display: none;
}

.intro:hover .introLegende p,.intro:hover .introLegende h1{
	display: block;
}
.intro:hover .introLegende{
	animation:animHeight 1s ease-out forwards;
}

.intro .introLegende{
	animation:animHeight2 1s ease-out forwards;
}
@keyframes animHeight{
	0%{height: 35%;}
	to{height: 45%;}
}

@keyframes animHeight2{
	0%{height: 45%;}
	25%{height:35%;}
	50%{height: 25%;}
	75%{height: 15%};
	to{height: 0%;}
}

.search{
	background:rgba(231, 230, 182, 1);
	margin: auto;
	width:18%;
	padding:1%;
}

.search input{
	width: 100%;
	font-size: 18px;
	margin:0.5%;
}

.cadreMatch{
	outline: 2px solid rgba(228, 235, 194, 1);
	width:80%;
	margin:1% auto;
	padding: 1%;
	text-align: center;
	height: 100%;
	background: rgba(0,0,0,.3);
}

.cadreMatch a{
	text-decoration: none;
	color:white;
}

.cadreMatch p{
	outline: 2px solid yellow;
	width: 42%;
	display: inline-block;
	margin: 1%;
	padding: 2%;
	font-size: 18px;
	text-align: center;
}

.cadreMatch p:nth-of-type(1){
	background: rgba(75, 200, 71, 1);
}

.cadreMatch p:nth-of-type(2){
	background: rgba(220, 75, 71, 1);
}

.cadreMatch p:nth-of-type(3){
	background: rgba(0,0,0,1);
	color:white;
}

.cadreMatch a{
	display: inline-block;
	width: 40%;
	margin: 1%;
	padding:.8%;
	border:3px solid rgba(175, 221, 228, 1);
}

.cadreMatch a:hover{
	animation:2s bgColor infinite;
}

@keyframes bgColor{
	0%{background: rgba(175, 221, 228, 1);}
	to{background: rgba(203, 186, 232, 1);}
}

.cadreMap{
	width:80%;
	background:white;
	outline: 2px solid red;
	margin:auto;
	padding: 1%;
}

.dessinerHeatmap{
	display: block;
	outline: 2px solid red;
	width: 90%;
	padding:5%;
	margin: auto;
}
